<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page 
        </title>
        <link rel="icon" href="/img/weather.png" > 
        <script src="../../client.js"></script>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p> Created by {{name}} </p>
        {{>footer}}
    </body>
</html>